# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Streamlit
.streamlit/

# FAISS Index
faiss_index/

# Uploaded PDFs
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db